// font stacks

$font-url--google           : 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap';

$font-family--primary       : 'Open Sans', Helvetica, Arial, sans-serif;

// font weights

$font-weight--light         : 300;
$font-weight--regular       : 400;
$font-weight--semi-bold     : 600;
$font-weight--bold          : 700;
$font-weight--extra-bold    : 800;

// descriptive base colors

$white       : #fff;
$black       : #0b0b0b;
$grey        : #797e83;

$viking      : #58e1c1;

$default     : #51ddfc;
$success     : #63cc82;
$error       : #e4757a;
$warning     : #fd7856;
$info        : #927bc1;

// color usage

$color-primary      : $viking;
$color-secondary    : $default;
$color-accent       : complement($color-primary);
$color-shadow       : rgba($black, .2);

// text

$base__font-size    : 16px;
$base__line         : 24px;


// colors for buttons and column elements

$colors: (
    '--default': $default,
    '--success': $success,
    '--error': $error,
    '--warning': $warning,
    '--info': $info,
); 

$grid-colors: (
    '__col--12': #80e8d1,
    '__col--11': #55dabd,
    '__col--10': #55c6da,
    '__col--9': #fd8985,
    '__col--8': #fd9f85,
    '__col--7': #ec9fa3,
    '__col--6': #3fabca,
    '__col--5': #88d9a0,
    '__col--4': #7ee6fd,
    '__col--3': #deb2ee,
    '__col--2': #d392eb,
    '__col--1': #e783e2,
);

// break points
$breakpoints: (
    'xs': 575px,
    'sm': 576px,
    'md': 768px,
    'lg': 992px
);


// misc. variables

$max-width: 1200px;

$font-small: 12px;
$font-med: 18px;
$font-lg: 22px;

$gutter: 20px;

$light-grey: #cacaca;