.img {
    &--frame {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: em(28px);
        width: 90%;
        outline: $light-grey solid .75px;
        outline-offset: 10px;
    }
    &--logo {
        margin-bottom: em(28px);
    }
    &--avatar {
        margin-bottom: em(28px);
    }
}

.grid__col [class^=img--] {
    text-align: center;
}
